@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020203;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

[data-state="open"] > .header-option {
  transform: rotate(-180deg);
}
